redis==6.4.0
accelerate~=1.2.1
aiofiles~=23.2.1
aiohappyeyeballs~=2.4.4
aiohttp~=3.11.11
aiolimiter==1.2.1
aiosignal~=1.3.2
aiosqlite==0.21.0
akshare==1.17.59
alabaster==1.0.0
annotated-types==0.7.0
anthropic==0.34.1
anyio~=3.5.0
anytree==2.13.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow~=1.2.3
arxiv==2.1.3
async-timeout==5.0.1
attrs~=22.1.0
autograd==1.8.0
azure-core==1.35.1
azure-identity==1.17.1
azure-storage-blob==12.22.0
azure-storage-file-datalake==12.16.0
babel~=2.11.0
backoff==2.2.1
bce-python-sdk==0.9.46
bcembedding==0.1.5
beartype==0.18.5
beautifulsoup4~=4.11.1
bibtexparser==1.4.3
bio==1.7.1
biopython==1.85
biothings-client==0.4.1
blinker==1.7.0
boto3==1.34.140
botocore==1.34.140
brotli~=1.0.9
cachelib==0.13.0
cachetools~=5.5.1
cbor==1.0.0
cbor2==5.7.0
certifi~=2022.12.7
cffi~=1.15.1
cfgv==3.4.0
chardet~=4.0.0
charset-normalizer==3.4.3
click~=8.0.4
cn2an==0.5.22
cohere==5.6.2
colorama~=0.4.4
coloredlogs==15.0.1
contourpy~=1.0.5
cramjam==2.11.0
crawl4ai==0.3.745
cryptography~=39.0.1
cssselect~=1.1.0
curl-cffi==0.13.0
cycler~=0.11.0
dashscope==1.20.11
datasets~=2.12.0
datrie==0.8.2
debugpy~=1.5.1
decorator~=5.1.1
deepl==1.18.0
demjson3==3.0.6
deprecated==1.2.18
dill~=0.3.6
discord-py==2.3.2
diskcache==5.6.3
distlib==0.4.0
distro==1.9.0
docstring-parser==0.17.0
docutils~=0.18.1
duckduckgo-search==7.5.5
editdistance==0.8.1
elastic-transport==8.12.0
elasticsearch==8.12.1
elasticsearch-dsl==8.12.0
et-xmlfile==2.0.0
events==0.5
exceptiongroup==1.3.0
fake-http-header==0.3.5
fake-useragent==1.5.1
fastavro==1.12.0
fastembed==0.3.6
fastparquet==2024.11.0
fastuuid==0.13.5
feedparser==6.0.12
filelock~=3.9.0
flagembedding==1.2.10
flasgger==0.9.7.1
flask~=2.2.2
flask-cors==5.0.0
flask-login==0.6.3
flask-mail==0.10.0
flask-session==0.8.0
flatbuffers~=25.1.24
fonttools~=4.25.0
free-proxy==1.1.3
frozendict==2.4.6
frozenlist~=1.5.0
fsspec~=2024.10.0
future~=0.18.3
gensim~=4.3.0
google==3.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.183.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.64.0
google-cloud-bigquery==3.38.0
google-cloud-core==2.4.3
google-cloud-resource-manager==1.14.2
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-generativeai==0.8.5
google-resumable-media==2.7.2
google-search-results==2.4.2
googleapis-common-protos==1.70.0
gprofiler-official==1.0.0
graspologic==3.4.4
graspologic-native==1.2.5
greenlet~=2.0.1
groq==0.9.0
grpc-google-iam-v1==0.14.2
grpcio==1.75.1
grpcio-status==1.71.2
h11~=0.14.0
h2==4.3.0
hanziconv==0.3.2
hf-transfer==0.1.9
hpack==4.1.0
html-text==0.6.2
html2text==2024.2.26
html5lib==1.1
httpcore~=1.0.7
httplib2==0.31.0
httpx~=0.28.1
httpx-sse==0.4.1
huggingface-hub==0.25.2
humanfriendly==10.0
hyperframe==6.1.0
hyppo==0.5.2
identify==2.6.14
idna~=3.4
ijson==3.4.0
imagesize==1.4.1
importlib-metadata==8.7.0
infinity-emb==0.0.66
infinity-sdk==0.6.0.dev5
iniconfig~=1.1.1
inscriptis==2.6.0
ir-datasets==0.5.11
isodate==0.7.2
itsdangerous~=2.0.1
jinja2~=3.1.2
jiter~=0.8.2
jmespath~=0.10.0
joblib~=1.1.1
json-repair==0.35.0
jsonpath==0.82.2
jsonschema~=4.17.3
jsonschema-specifications==2025.9.1
kaitaistruct==0.11
kiwisolver~=1.4.4
langfuse==3.5.1
litellm==1.77.4
llvmlite~=0.39.1
loguru==0.7.3
lxml~=4.9.1
lxml-html-clean==0.4.2
lz4~=3.1.3
madoka==0.7.1
markdown~=3.4.1
markdown-it-py==4.0.0
markdown-to-json==2.1.1
markupsafe~=2.1.1
matplotlib~=3.7.0
mcp==1.12.4
mdurl==0.1.2
mini-racer==0.12.4
minio==7.2.4
mistralai==0.4.2
mistune~=0.8.4
ml-dtypes==0.5.3
mmh3==4.1.0
mpmath~=1.2.1
msal==1.34.0
msal-extensions==1.3.1
msgspec==0.19.0
multidict~=6.1.0
multiprocess~=0.70.14
multitasking==0.0.12
mygene==3.2.2
nest-asyncio==1.6.0
networkx~=2.8.4
nltk~=3.7
nodeenv==1.9.1
numba~=0.56.4
numpy==1.26.4
ollama==0.2.1
onnx==1.19.0
onnxruntime==1.19.2
openai~=1.58.1
opencv-python~=4.11.0.86
opencv-python-headless==4.10.0.84
opendal==0.45.20
openpyxl~=3.0.10
opensearch-py==2.7.1
opentelemetry-api==1.37.0
opentelemetry-exporter-otlp-proto-common==1.37.0
opentelemetry-exporter-otlp-proto-http==1.37.0
opentelemetry-proto==1.37.0
opentelemetry-sdk==1.37.0
opentelemetry-semantic-conventions==0.58b0
orjson~=3.10.14
ormsgpack==1.5.0
outcome==1.3.0.post0
packaging~=22.0
pandas~=1.5.3
parameterized==0.9.0
patsy~=0.5.3
pdfminer-six==20221105
pdfplumber==0.10.4
peewee==3.17.1
pillow~=9.4.0
pip~=22.3.1
platformdirs~=2.5.2
playwright==1.55.0
pluggy~=1.0.0
pluginlib==0.9.4
polars-lts-cpu==1.9.0
pondpond==1.4.1
pooch~=1.4.0
pot==0.9.6.post1
pre-commit==4.3.0
primp==0.15.0
proces==0.1.7
prompt-toolkit==3.0.52
propcache~=0.2.1
proto-plus==1.26.1
protobuf==5.27.2
psutil~=5.9.0
psycopg2-binary==2.9.9
py==1.11.0
pyarrow~=18.1.0
pyasn1~=0.4.8
pyasn1-modules==0.4.2
pyclipper==1.3.0.post5
pycparser~=2.21
pycryptodome==3.23.0
pycryptodomex==3.20.0
pydantic~=2.10.4
pydantic-core==2.23.4
pydantic-settings==2.11.0
pydash==7.0.7
pydivert==2.1.0
pyee==13.0.0
pyexecjs==1.5.1
pygments~=2.19.1
pyicu @ file:///D:/pyicu-2.15-cp310-cp310-win_amd64.whl
pyjwt~=2.4.0
pymysql==1.1.2
pynndescent==0.5.13
pyodbc~=4.0.34
pyopenssl==25.3.0
pyparsing~=3.0.9
pypdf~=6.1.3
pypdf2==3.0.1
pypdfium2==4.30.0
pyreadline3==3.5.4
pysocks==1.7.1
pystemmer==2.2.0.3
pytest~=7.1.2
python-calamine==0.5.3
python-dateutil==2.8.2
python-docx==1.2.0
python-dotenv==1.0.1
python-multipart==0.0.20
python-pptx==1.0.2
pytz~=2022.7
pywencai==0.12.2
pywin32~=305
pyyaml~=6.0
qianfan==0.4.6
rank-bm25==0.2.2
ranx==0.3.20
readability-lxml==0.8.1
readerwriterlock==1.0.9
referencing==0.36.2
regex~=2022.7.9
replicate==0.31.0
requests~=2.28.1
retry==0.9.2
rich~=13.9.4
roman-numbers==1.0.2
rpds-py==0.27.1
rsa~=4.9
ruamel-base==1.0.0
ruamel-yaml==0.18.15
ruamel-yaml-clib==0.2.14
s3transfer==0.10.4
safetensors~=0.4.5
scholarly==1.7.11
scikit-learn~=1.2.1
scipy~=1.10.0
seaborn~=0.12.2
selenium==4.22.0
selenium-wire==5.1.0
sentence-transformers==3.0.1
setuptools~=75.8.0
sgmllib3k==1.0.0
shapely==2.0.5
shellingham==1.5.4
six==1.16.0
smart-open==7.3.1
sniffio~=1.2.0
snowballstemmer==2.2.0
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve~=2.3.2.post1
sphinx~=5.0.2
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlglot==11.7.1
sse-starlette==3.0.2
starlette~=0.41.3
statsmodels~=0.13.5
strenum==0.4.15
sympy~=1.11.1
tabulate~=0.8.10
tavily-python==0.5.1
tenacity~=8.0.1
tencentcloud-sdk-python==3.0.1215
tf-playwright-stealth==1.2.0
threadpoolctl~=3.1.0
thrift==0.20.0
tika==2.6.0
tiktoken~=0.8.0
tokenizers~=0.21.0
tomli~=2.0.1
torch~=1.12.0+cu116
tqdm~=4.64.1
transformers~=4.47.0
trec-car-tools==2.6
trio==0.31.0
trio-websocket==0.12.2
typer~=0.15.1
types-python-dateutil==2.9.0.20250822
types-requests==2.32.4.20250913
typing-extensions==4.15.0
typing-inspection==0.4.1
tzdata~=2022g
umap-learn==0.5.6
unlzw3==0.2.3
uritemplate==4.2.0
urllib3~=1.26.14
uv==0.8.22
uvicorn~=0.34.0
valkey==6.0.2
vertexai==1.64.0
virtualenv==20.34.0
volcengine==1.0.194
voyageai==0.2.3
warc3-wet==0.2.5
warc3-wet-clueweb09==0.2.5
wcwidth~=0.2.5
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client~=0.58.0
websockets~=14.1
werkzeug~=2.2.2
wikipedia==1.4.0
win32-setctime==1.2.0
word2number==1.1
wrapt~=1.14.1
wsproto==1.2.0
xgboost==1.6.0
xlrd==2.0.2
xlsxwriter==3.2.9
xpinyin==0.7.6
xxhash==3.5.0
yarl~=1.18.3
yfinance==0.2.65
zhipuai==2.0.1
zipp~=3.11.0
zlib-state==0.1.10
zstandard~=0.19.0

pathlib~=1.0.1
jieba~=0.42.1
umap~=0.1.1
tensorflow~=2.18.0
tensorflow-gpu~=2.10.0
msgpack-python~=1.0.3
zlib~=1.2.13
defusedxml~=0.7.1
ipython~=8.10.0
jupyter~=1.0.0
panel~=0.14.3
openssl~=1.1.1t
pymupdf~=1.26.6
pydot~=3.0.4
twisted~=22.2.0
yaml~=0.2.5
mock~=4.0.3
dask~=2022.7.0
keras~=2.10.0
ipywidgets~=7.6.5
notebook~=6.5.2
isort~=5.9.3
datashader~=0.14.4
colorcet~=3.0.1
bokeh~=2.4.3
holoviews~=1.15.4
importlib_metadata~=4.11.3
pexpect~=4.8.0
ipykernel~=6.19.2
nbformat~=5.7.0
cloudpickle~=2.0.0
paramiko~=2.8.1
blas~=1.0
python~=3.10.9
multipledispatch~=0.6.0
astunparse~=1.6.3
tensorboard~=2.10.1
optree~=0.14.0
distributed~=2022.7.0
torchvision~=0.13.0
snappy~=1.1.9
ujson~=5.4.0
libarchive~=3.6.2
smart_open~=5.2.1
fastapi~=0.115.6
backports~=1.1
responses~=0.18.0
sqlalchemy~=1.4.39
numexpr~=2.8.4
zope~=1.0
tornado~=6.1
traitlets~=5.7.1
wheel~=0.38.4
prompt_toolkit~=3.0.36
mypy_extensions~=0.4.3
et_xmlfile~=1.1.0
hyperlink~=21.0.0
win_inet_pton~=1.1.0
curl~=7.87.0
freetype~=2.12.1
ply~=3.11
timm~=1.0.15
jsonpointer~=2.1
lzo~=2.10
yapf~=0.31.0
bcrypt~=3.2.0
pytesseract~=0.3.13
torchaudio~=0.12.0
cookiecutter~=1.7.3
bitsandbytes~=0.45.0
h5py~=3.12.1
rope~=1.7.0
gradio~=5.12.0
portalocker~=3.1.1
toml~=0.10.2